<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                layout:decorate="~{template1}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    </head>
    <body>
    <div layout:fragment="content1">
        <div class="container mt-3">
            <div class="card">
                <div class="card-header">Doctors list</div>
                    <div class="card-body text-center">
                        <div class="card-body">
                            <form method="get" th:action="@{/user/indexDoctors}">
                                <label>Keyword :</label>
                                <input type="text" name="keyword" th:value="${keyword}">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                        <table class="table table-bordered align-middle">
                            <thead class="table-light">
                                <tr class="text-center" >
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Birthdate</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Speciality</th>
                                    <th scope="col" colspan="2" sec:authorize="hasAuthority('ADMIN')">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" th:each="d:${listDoctors}">
                                    <th th:text="${d.id}"></th>
                                    <td th:text="${d.nom}"></td>
                                    <td th:text="${d.dateNaissance}"></td>
                                    <td th:text="${d.active}"></td>
                                    <td th:text="${d.speciality}"></td>
                                    <td sec:authorize="hasAuthority('ADMIN')">
                                        <a onclick="return confirm('Are you sure ?')" class="btn btn-danger" th:href="@{/admin/deleteDoctor(id=${d.id}, keyword=${keyword}, page=${currentPage})}">
                                            Delete
                                        </a>
                                    </td>
                                    <td sec:authorize="hasAuthority('ADMIN')">
                                        <a class="btn btn-success" th:href="@{/admin/editDoctor(id=${d.id}, keyword=${keyword}, page=${currentPage})}">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center">
                            <li th:class="${currentPage == 0}? 'page-item disabled' : 'page-item'">
                                <a class="page-link"
                                   th:href="@{/user/indexDoctors(page=${currentPage - 1 }, keyword=${keyword})}"
                                >Previous</a>
                            </li>


                            <li class="page-item disabled">
                                <a class="page-link"
                                   th:text="${currentPage + 1}"
                                ></a>
                            </li>


                            <li th:class="${currentPage<(totalPages - 1)}? 'page-item' : 'page-item disabled'">
                                <a class="page-link"
                                th:href="@{/user/indexDoctors(page=${currentPage + 1 }, keyword=${keyword})}"
                                >Next</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>